#baslık{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#div{
    text-align: left;
}
.f1{
    margin: 10px;
    
}

.i1{
    text-align: center;
    margin-left: 1px;
}
.i2{
    margin-left: 100px;
}
.i3{
    margin-left: 80px;
}
.i4{
    margin-left: 97px;
}
.i5{
    margin-left: 44px;
}
.i6{
    margin-left: 32px;
}
